body{
    margin: auto;
    font-family: "arial";
    font-size: 18px;
    width: 80%;
    
}

.container .flex-container{
    display: flex;
    justify-content: flex-end;
}
.container .konten{
    width: 50%;
    margin: 30px ;
    padding: 0;
}
.konten h2{
    font-size: 38px;
}
.konten h3{
    font-size: 28px;

}
.konten button{
    background-color:rgb(0, 102, 204);
    width: 70%;
    height: 15%;
    margin: -5% 0% 15% -15%;
    font-size: 24px;
    letter-spacing: 2px;
    color: floralwhite;
    border: none;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4);;
    
}
.konten p{
    letter-spacing: 1px;
    text-align: justify;
}

.konten img{
    width: 40%;
    float: right;
}
